# If left empty, the default datatabase name will
# be development or production, based in the environment mode
DATABASE_NAME=
MONGODB_URI=mongodb+srv://<username>:<password>@clustername.abc.mongodb.net/

# Salt used in password hashing algorithm
HASH_SALT=salt

# Configuration for password recovery
EMAIL=example@gmail.com
EMAIL_PASSWORD=
